[user]
	email = lovekush.cse2027@gmail.com
	name = Lovekush Saini
[credential]
	provider = generic
[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short
	g = grep --break --heading --line-number
	cl = "!f() { \
      if [[ $1 != https://* && $1 != git@* ]]; then \
        if [[ $1 == */* ]]; then \
          git clone https://github.com/$1.git \"${@:2}\"; \
        else \
          git clone https://github.com/luvkushsaini/$1.git \"${@:2}\"; \
        fi; \
      else \
        git clone $1 \"${@:2}\"; \
      fi; \
  	}; f"
    commit-as = "!f() { \
        if [ $# -lt 3 ]; then \
            echo 'Usage: git commit-as \"Name\" \"email@example.com\" \"commit message\"'; \
            return 1; \
        fi; \
        GIT_AUTHOR_NAME=\"$1\" GIT_AUTHOR_EMAIL=\"$2\" GIT_COMMITTER_NAME=\"$1\" GIT_COMMITTER_EMAIL=\"$2\" git commit -m \"$3\"; \
    }; f"
[color]
	ui = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
[rebase]
	updateRefs = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	pager = delta
[delta]
	features = side-by-side syntax-highlighting
	navigate = true  # use n and N to move between diff sections
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictStyle = zdiff3
